<h1>Mensajes enviados por ViewBag</h1>
@{
    <h2>@ViewBag.Message</h2>
    <h2>@ViewBag.UnEntero</h2>
    <h2>@ViewBag.UnaFecha</h2>
}

<h3>-----------------------------------------------</h3>

<h1>Mensajes enviados por ViewData</h1>

<h2>@ViewData["Texto"]</h2>
<h2>@ViewData["Entero"]</h2>
<h2>@ViewData["Fecha"]</h2>

